In [8]:
#PCA LightGBM

import pandas as pd
x_train = pd.read_csv("x_train.csv", low_memory=False)
y_train = pd.read_csv('y_train.csv', low_memory=False)

In [9]:
x_train

,sponsor_id,sponsor_inview_fq,site_id,sponsor_fq,sponsor_recency,prob_man,os_id,n_slot_position,creative_id,req_id
0,0,5,0,6,370,0.985029,2,3.000000,0,0
1,1,0,1,0,-1,0.525834,3,2.264248,1,1
2,1,0,1,0,-1,0.525834,3,2.264248,2,2
3,2,2,2,5,5,0.525834,2,2.264248,3,3
4,3,0,3,0,-1,0.525834,0,2.264248,4,4
...,...,...,...,...,...,...,...,...,...,...
5038562,8,1,11,8,145,0.525834,0,2.264248,118,5038562
5038563,7,0,31,2,37590,0.525834,0,3.000000,35,5038563
5038564,2,1,1,3,219,0.525834,3,2.264248,708,5038564
5038565,17,0,5,1,5,0.525834,0,1.000000,491,5038565
5038566,8,1,11,5,23135,0.445011,0,2.264248,279,5038566

In [10]:
y_train

         click_flg
0                0
1                0
2                0
3                0
4                0
...            ...
5038562          0
5038563          0
5038564          0
5038565          0
5038566          0

[5038567 rows x 1 columns]

In [11]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score
from statistics import mean
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size=0.30, random_state=0, stratify=y_train)

In [13]:
import lightgbm as lgb
model = lgb.LGBMClassifier()
model.fit(X_train,Y_train)
Y_pre = model.predict_proba(X_test)
print(Y_pre)

/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[0.94857533 0.05142467]
 [0.99395469 0.00604531]
 [0.99504871 0.00495129]
 ...
 [0.99898711 0.00101289]
 [0.98267577 0.01732423]
 [0.9975948  0.0024052 ]]

In [14]:
print(roc_auc_score(Y_test,Y_pre[:,-1]))

0.8604592179195478