In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv("intern_public_dataset_2022/df_train_20220802.csv", low_memory=False)
df_rt = pd.read_csv("intern_public_dataset_2022/df_rt_20220802.csv", low_memory=False)
df_test_unlabeled = pd.read_csv("intern_public_dataset_2022/df_test_unlabeled_20220802.csv", low_memory=False)
df["request_time"] = pd.to_datetime(df["request_time"])
df_test_unlabeled["request_time"] = pd.to_datetime(df_test_unlabeled["request_time"])
df_rt["request_time"] = pd.to_datetime(df_rt["request_time"])
df

,req_id,request_time,os_id,ssp_uid,slot_id,n_slot_position,sponsor_id,campaign_id,creative_id,region,...,prob_man,sponsor_fq,sponsor_inview_fq,sponsor_recency,sponsor_inview_recency,click_time,cv_time,click_flg,cv_flg,site_id
0,0,2022-06-14 15:00:07+00:00,Windows,0,0,3.0,0,0,0,aichi,...,0.985029,6,5,370,410,NaN,NaN,0,0,0
1,1,2022-06-14 15:00:07+00:00,iOS,1,1,NaN,1,1,1,osaka,...,NaN,0,0,-1,-1,NaN,NaN,0,0,1
2,2,2022-06-14 15:00:07+00:00,iOS,1,2,NaN,1,1,2,osaka,...,NaN,0,0,-1,-1,NaN,NaN,0,0,1
3,3,2022-06-14 15:00:08+00:00,Windows,2,3,NaN,2,2,3,tokyo,...,NaN,5,2,5,2,NaN,NaN,0,0,2
4,4,2022-06-14 15:00:09+00:00,Android,3,4,NaN,3,3,4,tokyo,...,NaN,0,0,-1,-1,NaN,NaN,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038562,5038562,2022-07-26 14:59:52+00:00,Android,158132,979,NaN,8,8,118,miyazaki,...,NaN,8,1,145,15356,NaN,NaN,0,0,11
5038563,5038563,2022-07-26 14:59:55+00:00,Android,164623,225,3.0,7,7,35,tokyo,...,NaN,2,0,37590,-1,NaN,NaN,0,0,31
5038564,5038564,2022-07-26 14:59:57+00:00,iOS,3054,2,NaN,2,2,708,kagoshima,...,NaN,3,1,219,308,NaN,NaN,0,0,1
5038565,5038565,2022-07-26 14:59:57+00:00,Android,53986,6,1.0,17,17,491,osaka,...,NaN,1,0,5,-1,NaN,NaN,0,0,5
5038566,5038566,2022-07-26 14:59:59+00:00,Android,80017,979,NaN,8,8,279,tokyo,...,0.445011,5,1,23135,26470,NaN,NaN,0,0,11

In [2]:
dic_osid = []
dic_region= []
encode_cols = ['os_id','region']
for c in encode_cols:
    if c == 'os_id':
        env,obj = pd.factorize(df[c],sort=True)
        df[c] = env
        dic_osid = obj
    else:
        env,obj = pd.factorize(df[c],sort=True)
        df[c] = env
        dic_region = obj
print(dic_osid)
print(dic_region)
df

Index(['Android', 'Mac', 'Windows', 'iOS'], dtype='object')
Index(['aichi', 'akita', 'aomori', 'chiba', 'ehime', 'fukui', 'fukuoka',
       'fukushima', 'gifu', 'gumma', 'hiroshima', 'hokkaido', 'hyogo',
       'ibaraki', 'ishikawa', 'iwate', 'kagawa', 'kagoshima', 'kanagawa',
       'kochi', 'kumamoto', 'kyoto', 'mie', 'miyagi', 'miyazaki', 'nagano',
       'nagasaki', 'nara', 'niigata', 'oita', 'okayama', 'okinawa', 'osaka',
       'saga', 'saitama', 'shiga', 'shimane', 'shizuoka', 'tochigi',
       'tokushima', 'tokyo', 'tottori', 'toyama', 'wakayama', 'yamagata',
       'yamaguchi', 'yamanashi'],
      dtype='object')

,req_id,request_time,os_id,ssp_uid,slot_id,n_slot_position,sponsor_id,campaign_id,creative_id,region,...,prob_man,sponsor_fq,sponsor_inview_fq,sponsor_recency,sponsor_inview_recency,click_time,cv_time,click_flg,cv_flg,site_id
0,0,2022-06-14 15:00:07+00:00,2,0,0,3.0,0,0,0,0,...,0.985029,6,5,370,410,NaN,NaN,0,0,0
1,1,2022-06-14 15:00:07+00:00,3,1,1,NaN,1,1,1,32,...,NaN,0,0,-1,-1,NaN,NaN,0,0,1
2,2,2022-06-14 15:00:07+00:00,3,1,2,NaN,1,1,2,32,...,NaN,0,0,-1,-1,NaN,NaN,0,0,1
3,3,2022-06-14 15:00:08+00:00,2,2,3,NaN,2,2,3,40,...,NaN,5,2,5,2,NaN,NaN,0,0,2
4,4,2022-06-14 15:00:09+00:00,0,3,4,NaN,3,3,4,40,...,NaN,0,0,-1,-1,NaN,NaN,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038562,5038562,2022-07-26 14:59:52+00:00,0,158132,979,NaN,8,8,118,24,...,NaN,8,1,145,15356,NaN,NaN,0,0,11
5038563,5038563,2022-07-26 14:59:55+00:00,0,164623,225,3.0,7,7,35,40,...,NaN,2,0,37590,-1,NaN,NaN,0,0,31
5038564,5038564,2022-07-26 14:59:57+00:00,3,3054,2,NaN,2,2,708,17,...,NaN,3,1,219,308,NaN,NaN,0,0,1
5038565,5038565,2022-07-26 14:59:57+00:00,0,53986,6,1.0,17,17,491,32,...,NaN,1,0,5,-1,NaN,NaN,0,0,5
5038566,5038566,2022-07-26 14:59:59+00:00,0,80017,979,NaN,8,8,279,40,...,0.445011,5,1,23135,26470,NaN,NaN,0,0,11

In [3]:
df = df.fillna(df.mean())

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [4]:
df.dropna(axis=1,how='any',inplace=True)

In [5]:
df['request_time']=pd.to_datetime(df['request_time'])
new = pd.DataFrame((df.groupby([(df['request_time'].dt.month),(df['request_time'].dt.day)])["click_flg"].sum())/(df.groupby([(df['request_time'].dt.month),(df['request_time'].dt.day)])["click_flg"].size()))

In [10]:
df.columns

Index(['req_id', 'request_time', 'os_id', 'ssp_uid', 'slot_id',
       'n_slot_position', 'sponsor_id', 'campaign_id', 'creative_id', 'region',
       'ref', 'prob_man', 'sponsor_fq', 'sponsor_inview_fq', 'sponsor_recency',
       'sponsor_inview_recency', 'click_flg', 'cv_flg', 'site_id'],
      dtype='object')

In [11]:
X = df.drop(['click_flg','request_time','cv_flg','campaign_id'], axis=1)
Y = df['click_flg']

In [12]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score
from statistics import mean
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=0, stratify=Y)

In [ ]:
from sklearn.manifold import TSNE


tsne = TSNE(perplexity=10 , n_components=3)
embedding = tsne.fit_transform(X_train)

/opt/conda/lib/python3.7/site-packages/sklearn/manifold/_t_sne.py:783: FutureWarning: The default initialization in TSNE will change from 'random' to 'pca' in 1.2.
  FutureWarning,
/opt/conda/lib/python3.7/site-packages/sklearn/manifold/_t_sne.py:793: FutureWarning: The default learning rate in TSNE will change from 200.0 to 'auto' in 1.2.
  FutureWarning,

In [ ]:
import lightgbm as lgb
model = lgb.LGBMClassifier()
model.fit(embedding,Y_train)

Y_pre = model.predict_proba(X_test)
print(Y_pre)

In [ ]:
print(roc_auc_score(Y_test,Y_pre[:,-1]))